#flashSale02 {
  padding-bottom: 7rem;
  background-color: #f0f0f0;
  .flashSale02Container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    .productSale {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 0.5rem;
      background: url("../images/shoesbg.png");
      background-repeat: no-repeat;
      width: 50%;
      transition: ease-in-out 0.3s;

      .title {
        text-shadow: 4px 4px 3px #5a5a5a;
        font-family: $roboto-slab;
        font-size: 4rem;
        color: white;
        padding-top: 16.095rem;
        padding-bottom: 16.095rem;
      }
    }
    .productShoes {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
  }
}

#flashSale03 {
  padding-bottom: 7rem;
  background-color: #f0f0f0;
  .flashSale03Container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    .productWatches {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    .productSale {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 0.5rem;
      background: url("../images/watchesbg.png");
      background-repeat: no-repeat;
      width: 50%;
      transition: ease-in-out 0.3s;

      .title {
        text-shadow: 4px 4px 3px #5a5a5a;
        font-family: $roboto-slab;
        font-size: 4rem;
        color: white;
        padding-top: 26.22rem;
        padding-bottom: 26.22rem;
        .btn {
          margin: 0;
        }
      }
    }
  }
}

.sale01:hover,
.sale02:hover,
.productSale:hover {
  margin-top: -1.2rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px !important;
  transition: ease-in-out 0.3s;
}
